#!/bin/bash
sudo apt-get update
sudo apt-get -y install nginx
sudo systemctl start nginx.service
sudo systemctl enable nginx.service

PRIV_IP=`curl http://169.254.169.254/latest/meta-data/local-ipv4`

cat > /var/www/html/index.html << '_END'
<html>
<title>Proact Wissenstag 2019</title>
<body>
 <center>
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="171" height="32" viewBox="0 0 171 32"><path fill="#e31937" fill-rule="evenodd" d="M162.514 7.559H171V.252h-24.953v7.307h8.066v24.19h8.401V7.559zM136.42 19.821v.924c0 3.696-1.68 3.948-5.167 3.948-5.041 0-5.25-1.806-5.25-6.51V13.27c0-4.493.46-5.963 5.25-5.963 2.856 0 4.83.21 5.125 3.024v1.218h8.654V10.33C144.863.88 140.831 0 132.177 0c-9.242 0-14.83 1.512-14.83 11.926v8.147c0 11.508 6.26 11.927 14.83 11.927 3.654 0 7.14.043 9.997-2.31 2.857-2.393 2.898-5.5 2.898-8.945v-.924h-8.653zm-30.527.379H98.08l3.822-13.649h.084l3.906 13.649zm1.68 6.131l1.64 5.418h8.569L108.203.252H95.432L85.98 31.749h8.738l1.554-5.418h11.3zm-35.697-1.638c-4.369 0-5.797-.461-5.923-5.165v-7.097c.126-4.662 1.554-5.124 5.923-5.124s5.923.462 5.923 5.124v7.097c0 4.704-1.554 5.165-5.923 5.165zm0 7.307c8.528 0 14.577-1.848 14.577-11.549V11.55C86.452 1.848 80.403 0 71.875 0c-8.528 0-14.577 1.848-14.577 11.549v8.902c0 9.701 6.05 11.549 14.577 11.549zm-43.428-.251h8.402v-8.357h6.511c2.52 0 3.529 1.595 3.445 3.947v4.41h8.401v-6.342c0-3.57-2.226-5.46-5.67-5.586v-.335C55.5 18.1 55.5 15.034 55.5 9.785c0-7.853-3.571-9.407-10.838-9.533H28.447v31.497zm8.402-15.665V7.559h6.511c2.773 0 3.488.798 3.488 3.612 0 3.57.125 4.913-3.488 4.913h-6.51zm-28.447.294V7.559h5.755c3.276 0 3.78 1.008 3.78 4.242 0 4.073-.462 4.45-3.78 4.577H8.402zm0 15.37v-8.063h7.435c8.78 0 10.754-3.024 10.754-11.884 0-8.231-2.94-11.549-10.754-11.549H0v31.497h8.402z"></path></svg>
    <h1>Hej! from Proact</h1>
    <h3>Server ipv4: SERVERIP</h3>
 </center>
</body>
</html>
_END

sed -i -e "s|SERVERIP|$PRIV_IP|" /var/www/html/index.html



